 body {
     font-family: Arial, sans-serif;
     margin: 20px;
 }

 h1 {
     color: red;
     text-align: center;
    font-size: 50px;
 }
 
 img {
    width:60%;
     height:50%;
 }
 

 #output {
     margin-top: 20px;
     border-top: 1px solid #ccc;
     padding-top: 20px;
 }

 .book {
     margin-bottom: 20px;
 }

 .book-title {
     font-weight: bold;
     margin-bottom: 5px;
 }

 .book-description {
    color: black;
        font-size: 30px;
        margin: 25px;
 }

 .book-year {
     color: #555;
 }

 